div#edit-panes-delivery-delivery-housenumber-wrapper,
div#edit-panes-delivery-delivery-housenumber-addition-wrapper,
div#edit-panes-billing-billing-housenumber-wrapper,
div#edit-panes-billing-billing-housenumber-addition-wrapper{
  position: absolute;
}

input#edit-panes-delivery-delivery-housenumber,
input#edit-panes-delivery-delivery-housenumber-addition,
input#edit-panes-billing-billing-housenumber,
input#edit-panes-billing-billing-housenumber-addition{
  position: relative;
  top: -34px;
}

input#edit-panes-delivery-delivery-housenumber,
input#edit-panes-billing-billing-housenumber{
  left: 180px;
  width: 30px;
}

input#edit-panes-delivery-delivery-housenumber-addition,
input#edit-panes-billing-billing-housenumber-addition{
  left: 222px;
  width: 30px;
}

.address-pane-table table .cleared-row,
.address-pane-table table .cleared-row td{
  padding: 0;
  margin: 0;
}